html,body{
    height:100%;
    display:flex;
    justify-content: center;
    background-color: black;
    background-image: url("images/background-pattern-design-87.jpg");
    background-repeat:repeat;
}
#container{
    width:1,000px;
    height:100%;
    display: flex;
    flex-direction: column;
}
#header{
    background-color: #1F2833;
    text-align: center;
    font-family: initial;
    width: 1000px;
    height: 100px;
    color:#66fcf1;
    

    
}
#nav-bar{
    background-color: lightgrey;
    display: flex;
    justify-content: center;
}
#content{
    background-color: teal;
    display: flex;
}
#footer{
    background-color: yellow;
    text-align: center;
    line-height: 100px;
}
.btn:link{
    background-color: yellow;
    color:black;
    padding:10px;
    margin: 20px 20px 20px 0px;
    font-size: larger;
    text-decoration: none;
    font-family:fantasy;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(73, 72, 72, 0.521);

}
.btn:visited{
    color: black;
}

.btn:hover{
    background-color: darkgray;
}

.btn:active{
    background-color: green;
}

.content-left{
    width: 500px;
    height: 500px;
    background-color: darkred;
}

.content-right{
    width: 500px;
    height: 500px;
    background-color: aquamarine;
}