h1{ 
    color: #ff0000;
    color: rgba(255,0,0,1);
}

/* Pseudo Classes Example*/

a:link{
    color:red;
    font-size: larger; 
    text-decoration: none; 

}

s:visited{
    color: green
    
}

a:hover{
    text-decoration: underline;
}

a:active{
    color:yellow
}